.header {
  background-color: #E9352B;
}

.header-title {
  display: flex;
  justify-content: center;
}

h1, h2 {
  color: #F8F9FA;
}

nav {
  background-color: #F19D45;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px;
}

a {
  color: #F8F9FA;
  font-size: 20px;
}

main {
  background-color: green;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  background-color: #7048E8;
  display: flex;
  justify-content: center;
}

footer > h2 {
  font-size: 32px;
}

article {
  background-color: #0034EF;
  color: #F8F9FA;
  padding: 20px;
}

