.card {
  align-items: center;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 32px 0;
  text-decoration: none;
}

.card__preview {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0 24px;
}

.card__text-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card__title {
  color: var(--black);
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}

.card__subtitle {
  color: var(--grey-4);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin: 0;
}
