.histogram {
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding: 16px 24px 24px 24px;
}

.histogram__header {
  color: var(--black);
  display: flex;
  flex: 1;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  line-height: 24px;
}

.histogram__header-left-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.histogram__subtitle {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

.histogram__link {
  text-decoration: none var(--primary);
}

.histogram__title {
  margin: 0;
}

.histogram__bars {
  align-items: flex-end;
  display: flex;
  gap: 1px;
  height: 50px;
}

.histogram__bar {
  background-color: var(--primary);
  flex-basis: 9px;
  flex-grow: 1;
}

.histogram__bar_10 {
  height: 10%;
}
.histogram__bar_20 {
  height: 20%;
}
.histogram__bar_30 {
  height: 30%;
}
.histogram__bar_40 {
  height: 40%;
}
.histogram__bar_50 {
  height: 50%;
}
.histogram__bar_60 {
  height: 60%;
}
.histogram__bar_70 {
  height: 70%;
}
.histogram__bar_80 {
  height: 80%;
}
.histogram__bar_90 {
  height: 90%;
}

.histogram__bar_100 {
  height: 100%;
}
