@import '../fonts/fonts.css';
@import '../../components/page/page.css';
@import '../../components/container/container.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/collection/collection.css';
@import '../../04-lection2/01-histogram/histogram.css';

:root {
  --black: #212429;
  --blue: #4263eb;
  --error: var(--red);
  --pink: #f784ad;
  --primary: var(--blue);
  --purple: #7048e8;
  --red: #f03d3e;
  --secondary: var(--purple);
  --success: var(--blue);
  --white: #ffffff;

  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;

  --grey-3: #acb5bd;
  --grey-4: #495057;
}

body {
  font-family: 'Roboto', sans-serif;
}
